.bordaGitHub{border: solid 1px; border-color: #d0d7de;}
.bordaGitHubSEP{border: solid 1px ; border-color: #d0d7de; border-width: 0px 0px 1px 0px;}
.bordaGitHubr{border: solid 1px ; border-color: #d0d7de; border-width: 1px 1px 1px 0px;}
.bordaGitHuSemBotton{border: solid 1px ; border-color: #d0d7de; border-width: 1px 1px 0px 1px;}
.bordaGitHuComTopRight{border: solid 1px ; border-color: #d0d7de; border-width: 1px 1px 0px 0px;}
.bordaCinzaCompleta{border: solid 1px ;border-width: 1px; border-color: #bcc3ca;}
.bordaPreta{border: solid 1px ;border-width: 1px; border-color: #000000;}
.bordaCinzasTopRight{border: solid 1px 1px 0px 0px; border-color: #808080; border-width: 1px 1px 0px 0px;}
.bordaCinzasRight{border: solid 1px; border-color: #808080; border-width: 0px 1px 0px 0px;}
.bordaCinzasBotton{border: solid 1px; border-color: #808080; border-width: 0px 0px 1px 0px;}