.color_pretoMedio {background-color: #666666;}
.color_cianoMudo {background-color: #e8ebef;}
.color_cianoBebe {background-color: #C8F2FF;}
.color_cinzaMudo {background-color: #e0e0e0;}
.color_brancoGelo {background-color: #f6f6f6;}
.color_brancoGelo1 {background-color: #f8f9fa;}
.color_brancoGelo2 {background-color: #ECEFF1;}
.color_brancoGelo3 {background-color: #FAFAFA;}
.color_brancoGelo4 {background-color: #f8f9fa;}
.color_brancoGelo5 {background-color: #f8f9fa;}
.color_brancoGelo6 {background-color: #f8f9fa;}
.color_brancoGelo7 {background-color: #f8f9fa;}
.color_pretoCarvao {background-color: #262626;}
.color_cinzas {background-color: #808080;}
.color_branco {background-color: #ffffff;}
.color_preto {background-color: #000000;}
.color_cinzaClaro {background-color: #d0d0d0;}
.color_transparent {background-color: transparent;}
.color_success {background-color: #20c997;}
.color_success-light {background-color: #79dfc1;}
.color_success-light1 {background-color: #4dd4ac;}
.color_success-light2 {background-color: #69F0AE;}
.color_success-dark {background-color: #198754;}
.color_darkred {background-color: #8b0000;}
.color_falue {background-color: #dc3545;}
.color_divida {background-color: #a40018;}
.color_falue_light {background-color: #FF1744;}
.color_purple {background-color: #6f42c1;}
.color_indigo {background-color: #6610f2;}
.color_orange {background-color: #ff4a00;}
.color_yellow {background-color: #ffc700;}
.color_azulRoyal {background-color: #007bff;}
.color_whatsapp {background-color: #29a71a;}
.color_verdeMenta {background-color: #b5dcca;}

.color_discord {background-color: #7289da;}
.color_facebook {background-color: #1976d2;}
.color_messenger {background-color: linear-gradient(#0084ff, #FFFFFF);}
.color_instagram {background-color: radial-gradient(radius 140%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);}
.color_transparent-esp {background-color: rgba(0, 0, 0, 0);}
.color_pretoTransparent {background-color: rgba(255, 255, 255, 0.05);}

.color_salmaoPastel {background-color: #e98685;}
.color_verdePastel {background-color: #84caaa;}
.color_verdeMarinhoPastel {background-color: #72cccb;}
.color_azulMarinhoPastel {background-color: #5D8AA8;}
.color_violetaPastel {background-color: #a1b4ff;}
.color_amareloPastel {background-color: #ffcf9e;}
.color_rosaPastel {background-color: #f5d2de;}

.color_cinzaClaro00{background-color: #f4f4f4;}
.color_cinzaClaro01{background-color: #f2f2f2;}
.color_cinzaClaro02{background-color: #e0e0e0;}
.color_cinzaClaro03{background-color: #cccccc;}
.color_cinzaClaro04{background-color: #b3b3b3;}
.color_cinzaClaro05{background-color: #a6a6a6;}

.color_cinzaMedio01{background-color: #e1e1e1;}
.color_cinzaMedio02{background-color: #c6c6c6;}
.color_cinzaMedio03{background-color: #adadad;}
.color_cinzaMedio04{background-color: #949494;}
.color_cinzaMedio05{background-color: #7d7d7d;}

.color_cinzaCeleste01{background-color: #a4b7ff;}
.color_cinzaCeleste02{background-color: #8ac9ff;}
.color_cinzaCeleste03{background-color: #70bfff;}
.color_cinzaCeleste04{background-color: #56b5ff;}
.color_cinzaCeleste05{background-color: #3cafff;}

.color_cianoGitHub0{background-color: #f6f8fa;}
.color_cianoGitHub1{background-color: #d0d7de;}
.color_cianoGitHub3{background-color: #636c76;}
.color_cianoGitHub4{background-color: #eff2f5;}

.color_cinzaPastel0{background-color: #f0f1f2;}
.color_cinzaPastel1{background-color: #e2e4e6;}
.color_cinzaPastel2{background-color: #bcc3ca;}
.color_cinzaPastel3{background-color: #4f5862;}
.color_cinzaPastel4{background-color: #dbdee1;}