/*- Fontes -*/
.font_0-8em{font-size: 0.8em;}
.font_1em{font-size: 1em;}
.font_1-2em{font-size: 1.2em;}
.font_1-3em{font-size: 1.3em;}
.font_1-5em{font-size: 1.5em;}
.font_2em{font-size: 2em;}
.font_3em{font-size: 3em;}
.font_4em{font-size: 4em;}
.font_5em{font-size: 5em;}
.font_6em{font-size: 6em;}
.font_7em{font-size: 7em;}
.font_8em{font-size: 8em;}
.font_9em{font-size: 9em;}
.font_10em{font-size: 10em;}

.font_12px{font-size: 12px;}
.font_14px{font-size: 14px;}

/*- estilização fonte -*/
.font_bold{font-weight: bold;}
.font_blackA{color: rgba(0, 0, 0, 0.75);}
.font_whiteA{color: rgba(255, 255, 255, 0.95);}
.font_black{color: #000000;}
.font_carvao{color: #333333;}
.font_white{color: #ffffff;}
.font_orange{color: #ff4a00;}
.font_amareloPastel{color: #ffcf9e;}
.font_mudo{color: #a0a0a0}


.fonteGitHub{color: #636c76;}

.font_inicio{text-align: start;}